/* Font Family Possibilities */
html, body {
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Bungee Inline', cursive;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Bungee Outline', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Bungee Hairline', cursive;
  font-family: 'Saira', sans-serif;
  font-family: 'Saira Semi Condensed', sans-serif;
}
/* Begin CSS Here */

body, footer, header {
  font-family: 'Saira', sans-serif;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  align-content: center;
  /* height: 2400px; */
}


main article {
  display: block;
  background-color: black;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

section {
  display: block;
  margin: 0;
  padding: 0;
}

article {
  display: inline-block;
  margin: 0;
  padding: 20px;
}

/* General Classes */

.bungee-inline {
  font-family: 'Bungee Inline', cursive;
  font-weight: normal;
  font-size: 140px;
  color: #56D7CC;
}

.bungee-inline-2 {
  font-family: 'Bungee Inline', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #56D7CC;
}

.bungee-inline-3 {
  font-family: 'Bungee Inline', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #56D7CC;
  position: absolute;
}

.titillium-web {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
  font-size: 140px;
}

.button-1 {
  display: block;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
}

.button-1:hover {
  display: block;
  border: 2px solid #56D7CC;
  background-color: #56D7CC;
  color: white;
  padding: 5px 20px;
}

.callouts {
  font-family: 'Saira', sans-serif;
  font-size: 40px;
  font-weight: normal;
  width: 1200px;
  height: auto;
  position: relative;
  color: white;
  text-transform: uppercase;
}


/* Containers */

.container {
  width: 960px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: column;
}

.hero-container-1 {
  background-image: url("../images/shruti-1.jpg");
  background-size: cover;
  background-position: center;
  width: 1680px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  position: relative;
}

.section-container-1 {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 1200px;
  background-color: teal;
}

.article-container-1 {
  display: inline-block;
  border: 2px solid #56D7CC;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.summary-container {
  display: block;
  align-items: flex-end;
  width: 550px;
  height: 200px;
}

/* Header and Start Home Page Nav - Other Classes and IDs */


.start-header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
}


.background-layer {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .body-header nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  height: 50px;
  width: 50%;
  text-transform: uppercase;
} */



/* Images CSS: */


/* .img-container {
  float: left;
  width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
  /* padding: 5px; /* if you want space between the images */
/* } */


img:hover {
  filter: grayscale(100%);
  /* Start the shake animation and make the animation last for 0.5 seconds */
  /* animation: shake 2s; */
  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite; */
}

/* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-3deg); }
  } */

  /* If you want the image zoom in effect within the square container for the images
  [1] The container
  .img-hover-zoom {
    height: 300px;
    overflow: hidden;
  }
  [2] Transition property for smooth transformation of images
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  [3] Finally, transforming the image when container gets hovered
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  } */

.box {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #56D7CC;
  z-index: -1;
}

.image-1 {
  border: 2px solid #56D7CC;
  position: relative;
}

.image-size {
  border: 2px solid #56D7CC;
  position: relative;
  width: 350px;
  height: 300px;
}




/* Responsive area */


/* Mobile */

/* @media screen and (min-width: 600px) {
  .container-6-items {
    flex-direction: row;
  }
  .uber-indiv-image-container svg {
    height: 180px;
    width: 180px;
  }

} */

/* Tablet */

/*
@media screen and (min-width: 1000px) {
  .uber-container-3-items {
    flex-direction: column;
  }

  .uber-indiv-item {
    flex-direction: row;
    justify-content: left;
  }

  .uber-indiv-text-container {
    flex-direction: column;
    text-align: left;
  }
  .uber-indiv-image-container svg {
    height: 120px;
    width: 120px;
  }

  .uber-indiv-item-headline {
  font-size: 34px;
  } */



  /* Computer */

  /* @media screen and (min-width: 1000px) {
    .uber-container-3-items {
      flex-direction: column;
    }

    .uber-indiv-item {
      flex-direction: row;
      justify-content: left;
    }

    .uber-indiv-text-container {
      flex-direction: column;
      text-align: left;
    }
    .uber-indiv-image-container svg {
      height: 120px;
      width: 120px;
    }

    .uber-indiv-item-headline {
    font-size: 34px;
    }
 */
